//
// Default collors and styles for Nordal
// Typically just overriding Bootstraps styles
// --------------------------------------------------
/* Taken from: https://codepen.io/Varo/pen/gbZzgr */

.conversation-heading {
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 200px;
  display: block;
  filter: blur(5px);
}
.spacer {
  height: 50px;
  display: block;
}
.conversation-answer {
  color: #333;
  background-color: #f5f5f5;
  border: 0;
  border-top: 1px solid transparent;
  box-shadow: 0 0 18px 0 rgba(0,0,0,0.2);
}
.conversation-done {
  box-shadow: 0 0 18px 0 rgba(0,0,0,0.2);
}
.name {
  position: absolute;
  top: 3px;
  left: 110px;
  font-family: 'Lato';
  font-size: 25px;
  font-weight: 300;
  color: rgba(255,255,255,0.98);
  cursor: default;
}
.last {
  position: absolute;
  top: 30px;
  left: 115px;
  font-family: 'Lato';
  font-size: 11px;
  font-weight: 400;
  color: rgba(255,255,255,0.6);
  cursor: default;
}

/* M E S S A G E S */

.chat {
  list-style: none;
  background: none;
  margin: 0;
  padding: 0 0 50px 0;
}
.chat li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
}
.chat .avatar {
  width: 80px;
  height: 80px;
  position: relative;
  display: block;
  z-index: 2;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  background-color: rgba(255,255,255,0.9);
}
.chat .avatar img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  background-color: rgba(255,255,255,0.9);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.other .msg {
  order: 1;
  border-top-left-radius: 0px;
  box-shadow: -1px 2px 0px #D4D4D4;
  margin-left: 10px;
}

.other:before {
  content: "";
  position: relative;
  top: 0px;
  right: 0px;
  left: 90px;
  width: 0px;
  height: 0px;
  border: 5px solid #fff;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
}
.self .msg {
  order: 1;
  border-bottom-right-radius: 0px;
  box-shadow: 1px 2px 0px #D4D4D4;
  margin-right: 10px;
}
.self .avatar {
  order: 2;
}
.self .avatar:after {
  content: "";
  position: relative;
  display: inline-block;
  bottom: 19px;
  right: 10px;
  width: 0px;
  height: 0px;
  border: 5px solid #fff;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 0px 2px 0px #D4D4D4;
}

.msg {
  background: white;
  min-width: 50px;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
}
.msg p {
  margin: 0 0 0.2rem 0;
  color: #777;
}
.msg p.msg-header {
  font-weight: 700;
  color: #d4004b;
}
.msg img {
  position: relative;
  display: block;
  width: 450px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #eee;
  transition: all .4s cubic-bezier(0.565, -0.260, 0.255, 1.410);
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
@media screen and (max-width: 800px) {
  .msg img {
    width: 300px;
  }
}
@media screen and (max-width: 550px) {
  .msg img {
    width: 200px;
  }
}

.msg time {
  color: #ccc;
  margin-top: 3px;
  float: right;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.msg time:before{
  content:"\f017";
  color: #ddd;
  font-family: FontAwesome;
  display: inline-block;
  margin-right: 4px;
}
.eligible-msg {
  border-radius: 5px !important;
  cursor: pointer;
}
.answers-chat {
  padding: 0;
}
.answers-chat li {
  display: inline-block;
}
.answers-chat .other:before {
  left: 0;
  border: 0;
}
.eligible-msg.wrong-answer {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  background-color: #ffb6b6;
}
.eligible-msg.correct-answer {
  background-color: rgba(21, 221, 0, 0.73);
}
.conversation-task-description {
  padding: 5px;
  text-align: center;
  font-size:20px;
}
.conversation-body {
  .ng-enter {
    -webkit-transition: 1s;
    transition: 1s;
    margin-right: 100%;
  }
  .self.ng-enter {
    -webkit-transition: 1s;
    transition: 1s;
    margin-left: 100%;
  }

  .ng-enter-active{
    margin-right: 0;
  }
  .self.ng-enter-active {
    margin-left: 0;
  }
}