//
// Main Nordal adventure styles
// --------------------------------------------------

.loader {
  display: block;
  width: 100%;
  text-align: center;
  padding: 50px 0;
  min-height: 200px;
}

#characterChooseContainer {
  margin: 0;
  padding: 0;
}
.adv-back-button {
  position: absolute;
  left: 15px;
  top: 15px;
  color: white;
  z-index: 3;
  opacity: 0.8;
}
.cccColumn {
  margin: 0;
  padding: 5px;
  text-align: center;
  vertical-align: top;
}
.gender {
  font-size: 20px !important;
  border: 2px solid #c1c1c1;
  height: 50px;
  width: 50px;
  line-height: 40px !important;
  text-align: center;
  color: #4e4e4e;
  font-weight: 700 !important;
  padding: 4px;
}
.gender:hover {
  border: 3px solid #52b952;
  cursor: pointer;
  padding: 3px;
}
.gender-radio:checked + label i {
  border: 3px solid #52b952;
  padding: 3px;
}
.characterThumb {
  border: 2px solid #c1c1c1;
  margin: 5px;
  display: inline-block;
  width: 41%;
  vertical-align: top;
  padding: 1px;
}
.characterThumb img{
  width: 100%;
}
.characterThumb:hover, .character-radio:checked + label  {
  border: 3px solid #52b952;
  cursor: pointer;
  padding: 0px;
}
.characterThumbView {
  display: block;
  margin: 5px auto;
}
.characterImage {
  max-height: 400px;
}
@media (max-width: 767px) {
  .characterImage {
    width: 100%;
  }
}
.advMap {
  min-height: 700px;
  position: relative;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
}
.advMapPin {
  position: absolute;
  display: block;
  .pin-label {
    background: rgba(255, 255, 255, 0.5);
    display: block;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    font-weight: 600;
    position: relative;
    margin-top:-5px;
  }
  .tasksAvailable {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 30px;
    opacity: 0.8;
    color: #ffdb00;
  }
}
.advMapPin.inaccessible img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.advMapPin.available:hover {
  cursor: pointer;
  .pinContainer {
    padding-top: 5px;
    transition: all 0.1s ease;
  }
  .pin-label {
    background: rgba(255, 255, 255, 0.8);
    //font-size: 1.1em;
  }
  .tasksAvailable {
    opacity: 1;
  }
}
#characterChooseContainer {
    .cccColumn {
        width: 25%;
        display: table-cell;
        &.character-preview {
            width: 52%;
        }
        p {
            text-align: center;
        }
        label, .characterThumb {
            background: rgba(255,255,255,1);
        }
    }
}
html.mobile.adventure {
  .advMap {
    min-height: inherit !important;
  }
  #characterChooseContainer {
    .cccColumn {
      width: 100%;

      display: block;
      label {
        background: rgba(255,255,255,1);
      }
      &.character-preview {
        padding: 10px 15%;
      }
    }
  }
  #main-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    > div { // ui-view
      height: 100%;
      > div { // panel
        overflow: scroll;
        height: 100%;
      }
    }
    .cccColumn {
      width: 100%;
      display: block;
      label {
        background: rgba(255,255,255,1);
      }
      &.character-preview {
        padding: 10px 15%;
      }
    }
  }
}
.fish {
  height: 1em;
  vertical-align: top;
  margin: 0.2em;
}