@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.sentences-introduction {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #ddd;
  padding: 10px;
  font-size: 20px;
}
.sentences-body {
  font-size: 20px;
  .sentences-body-heading {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px;
  }
  .native-sentence, .foregin-sentence {
    margin: 15px;
    font-weight: 700;
  }
  .foregin-sentence {
    background-color: #ffffff;
    @include border-radius(5px);
    padding: 5px;
    min-height: 2em;
    font-weight: initial;
  }
  .words-to-choose {
    color: #333;
    background-color: #f5f5f5;
    border: 0;
    border-top: 1px solid transparent;
    box-shadow: 0 0 18px 0 rgba(0,0,0,0.2);
    header {
      text-align: center;
      font-weight: 700;
      padding: 10px;
    }
    .words-holder {
      text-align: center;
      padding: 0 20px 20px 20px;
      .eligible-word {
        cursor: pointer;
        @include border-radius(2px);
        padding: 5px 15px;
        margin: 5px;
        background: white;
        min-width: 50px;
        box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
        display: inline-block;
      }
      .eligible-word.wrong-answer {
        animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
        transform: translate3d(0, 0, 0);
        background-color: #ffb6b6;
      }
      .eligible-word.correct-answer {
        background-color: rgba(21, 221, 0, 0.73);
      }
    }
  }
  .next-sentence-button-holder {
    color: #333;
    background-color: #f5f5f5;
    border: 0;
    border-top: 1px solid transparent;
    box-shadow: 0 0 18px 0 rgba(0,0,0,0.2);
    padding-bottom:10px;
    header {
      text-align: center;
      font-weight: 700;
      margin: 10px;
    }
  }
}