<div class="panel panel-default">
    <div class="panel-heading">
        Wybierz swoją postać
        <div style="display: inline-block" ng-show="isLoading==true">
            <i class="fa fa-refresh fa-spin fa-1x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="panel-body">
        <div id="characterChooseContainer">
            <!-- Left col -->
            <div class="cccColumn">
                <!-- Gender -->
                <p>
                    Płeć:
                </p>
                <hr>
                <input type='radio' name='gender' value='female' id="genderFemale" ng-model="User.Gender" class="image-radio gender-radio"/>
                <label for="genderFemale"><i class="gender fa fa-venus" aria-hidden="true"></i></label>

                <input type='radio' name='gender' value='male' id="genderMale" ng-model="User.Gender" class="image-radio gender-radio"/>
                <label for="genderMale"><i class="gender fa fa-mars" aria-hidden="true"></i></label>
                <!-- Gender end -->
                <!-- Character -->
                <div id="characterThumbFemale" ng-show="User.Gender=='female'">
                    <input type='radio' name='character' value='f1' id="f1" ng-model="User.CharacterNumber" class="image-radio character-radio"/>
                    <label for="f1" class="characterThumb" ><img src="img/characters/thumbs/f1.png" /></label>

                    <input type='radio' name='character' value='f2' id="f2" ng-model="User.CharacterNumber" class="image-radio character-radio"/>
                    <label for="f2" class="characterThumb"><img src="img/characters/thumbs/f2.png" /></label>
                </div>
                <div id="characterThumbMale" ng-show="User.Gender=='male'">
                    <input type='radio' name='character' value='m1' id="m1" ng-model="User.CharacterNumber" class="image-radio character-radio"/>
                    <label for="m1" class="characterThumb"><img src="img/characters/thumbs/m1.png" /></label>

                    <input type='radio' name='character' value='m2' id="m2" ng-model="User.CharacterNumber" class="image-radio character-radio"/>
                    <label for="m2" class="characterThumb"><img src="img/characters/thumbs/m2.png" /></label>
                </div>
                <!-- Character end -->
            </div>

            <!-- Mid col -->
            <div class="cccColumn character-preview">
                <img src="img/characters/f1.png" class="characterImage" ng-show="User.CharacterNumber=='f1'" />
                <img src="img/characters/f2.png" class="characterImage" ng-show="User.CharacterNumber=='f2'" />
                <img src="img/characters/m1.png" class="characterImage" ng-show="User.CharacterNumber=='m1'" />
                <img src="img/characters/m2.png" class="characterImage" ng-show="User.CharacterNumber=='m2'" />
            </div>
        </div><br /><br/>
        <div class="row">
            <div class="col-md-12 text-center">
                <a ng-click="saveCharacter()" class="btn btn-lg btn-success adv-btn">Wejdź do gry</a>
            </div>
        </div>
    </div>
</div>