<div class="panel panel-default">
    <div class="panel-heading">
        {{task.Name}}
        <div style="display: inline-block" ng-show="isLoading==true">
            <i class="fa fa-refresh fa-spin fa-1x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="panel-body" style="position: relative; font-size: 18px;">
        <div>
            <div ng-bind-html="Content"></div>

            <div class="text-center">
                <a ng-click="completeFableTask()" class="btn btn-lg btn-success adv-btn">{{ButtonText}} <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>