<div class="panel panel-default">
    <div class="loader panel-body text-center">
        <i class="fa fa-refresh fa-spin" style="font-size: 50px;"></i>
        <span class="sr-only">Loading...</span>
    </div>
</div>