<div class="panel panel-default" style="position: relative;">
    <div class="loader panel-body text-center" ng-show="isLoading" style="position: absolute;">
        <i class="fa fa-refresh fa-spin" style="font-size: 50px;"></i>
        <span class="sr-only">Loading...</span>
    </div>
    <a ui-sref="goToMap({ mapId: parentMapId })" class="adv-back-button" ng-show="parentMapId !== null"><i class="fa fa-2x fa-chevron-left" aria-hidden="true"></i></a>

    <adv-map></adv-map>
</div>