<div class="panel panel-default" style="background: #e5e5e5;" scroll-glue="glued">
    <div class="panel-heading" style="position: relative;">
        {{task.Name}}
        <div style="display: inline-block" ng-show="isLoading==true">
            <i class="fa fa-refresh fa-spin fa-1x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
        <a ui-sref="map" style="position: absolute; left: 10px;"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    </div>
    <div class="panel-heading" ng-show="task.IsDone">
        <p>To była świetna rozmowa, w dodatku po norwesku <i class="fa fa-thumbs-up" aria-hidden="true"></i></p>
        <!--<p ng-show="User.gender === 'male'">Otrzymałeś za nią {{task.RecivedExp}} pkt</p>-->
        <!--<p ng-show="User.gender !== 'male'">Otrzymałaś za nią {{task.RecivedExp}} pkt</p>-->
        <a ui-sref="map"><i class="fa fa-arrow-left" aria-hidden="true"></i> Powrót do mapy</a>
    </div>
    <div class="conversation-body">
        <div class="conversation-task-description" ng-show="messages.length <= 0 && !task.IsDone">
            Przeprowadź rozmowę po norwesku, wybierając co masz powiedzieć.<br/>
            Do wyboru masz kilka kwestii, ale pamiętaj - tylko jedna jest prawidłowa. Twoje wypowiedzi muszą być logiczne oraz poprawne. Każda błędna wypowiedź obniży liczbę zdobytych Rybek <img src="img/misc/fish.svg" alt="Rybki" class="fish" /> za to zadanie ;)<br/><br/>
            Ale bez stresu - wystarczy Ci znajomość słówek z kursu.
        </div>
        <ol class="chat">
            <li ng-repeat="message in messages" class="{{message.cssClasses}}">
                <div class="avatar"><img src="{{message.avatar}}" /></div>
                <div class="msg">
                    <p class="msg-header">{{message.name}}:</p>
                    <p>{{message.content}}</p>
                </div>
            </li>
        </ol>
    </div>
    <div class="spacer" ng-show="!(answers.length > 0) && !(task.IsDone || taskDone.isDone)"></div>
    <div class="conversation-answer panel-heading" ng-show="answers.length > 0">
        <header>Wybierz kwestię:</header>
        <ol class="chat answers-chat">
            <li ng-repeat="answer in answers" class="other">
                <div id="{{$index+1}}-{{bubbleId}}" class="msg eligible-msg" ng-click="chooseAnswer(($index+1), bubbleId)">
                    <p>{{answer}}</p>
                </div>
            </li>
        </ol>
    </div>
    <div class="conversation-done panel-heading" ng-show="task.IsDone || taskDone.isDone">
        <p ng-show="taskDone.isDone" ng-bind-html="taskDone.message"></p>
        <a ui-sref="map"><i class="fa fa-arrow-left" aria-hidden="true"></i> Powrót do mapy</a>
    </div>
    <div class="conversation-done panel-heading" ng-show="isLoading">
        <i class="fa fa-refresh fa-spin fa-1x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
</div>