<div class="panel panel-default" style="background: #e5e5e5;" >
    <div class="panel-heading" style="position: relative;">
        {{task.Name}}
        <div style="display: inline-block" ng-show="isLoading==true">
            <i class="fa fa-refresh fa-spin fa-1x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
        <a ui-sref="map" style="position: absolute; left: 10px;"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    </div>

    <!-- Sentences task type begin -->
    <div class="sentences-introduction" ng-show="!showSentences && !isLoading">
        <p ng-bind-html="introductionText"></p>

        <div class="text-center">
            <a ng-click="showSentences=true;" class="btn btn-lg btn-success adv-btn">Dalej</a>
        </div>
    </div>
    <div class="sentences-body" ng-show="showSentences">
        <div class="sentences-body-heading">
            Przetłumacz poniższe zdanie, wybierając kolejne słówka: <br/>
            <div class="native-sentence" ng-bind-html="nativeSentence"></div>
            <div class="foregin-sentence" ng-bind-html="foreginSentence"></div>
        </div>
        <div class="words-to-choose" ng-show="!showNextSentenceButton">
            <header>Wybierz słowo:</header>
            <div class="words-holder">
                <div ng-repeat="word in wordsToChoose" id="word-{{$index+1}}" class="eligible-word" ng-click="chooseWord(($index+1), word)">
                    {{word}}
                </div>
            </div>
        </div>
        <div class="next-sentence-button-holder" ng-show="showNextSentenceButton && !answersSend">
            <header>Brawo! :)</header>
            <div class="text-center">
                <a ng-click="nextSentence()" class="btn btn-lg btn-success adv-btn">Dalej</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- Sentences task type end -->

    <div class="conversation-done panel-heading" ng-show="task.IsDone || taskDone.isDone">
        <p ng-show="taskDone.isDone" ng-bind-html="taskDone.message"></p>
        <a ui-sref="map"><i class="fa fa-arrow-left" aria-hidden="true"></i> Powrót do mapy</a>
    </div>
    <div class="conversation-done panel-heading" ng-show="isLoading">
        <i class="fa fa-refresh fa-spin fa-1x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
</div>