//
// Some break points for different screen sizes
// --------------------------------------------------

/* Super extra small devices (phones, less than 480px) */
// Dla małych wyświetlaczy nie wyświetlam postaci, bo brzydko wyglądają
.standing-character {  display: none; }
/* Extra small devices (phones, 480px and up) */
@media (min-width: $screen-xs-min) {
  .form-next-to-character {
    width: 50%;
    float: left;
  }
    .standing-character { display: block; }
  
  
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
    .form-next-to-character {
        width: 58%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
    .form-next-to-character {
        width: inherit;
        float: none;
    }
    .form-next-to-character .form-group{ display: flex; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
}
