//
// Default collors and styles for Nordal
// Typically just overriding Bootstraps styles
// --------------------------------------------------

$btn-font-weight: 300;
$font-family-sans-serif: "Alegreya SC", Helvetica, Arial, sans-serif;
body {
    font-family: $font-family-sans-serif;
    font-size: 16px;
    background-image: url('../../img/backgrounds/bg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 100%;
}
@media (min-width: 1200px) {
  body { background-size: cover; }
}
a, a:hover {text-decoration: none;}
input.image-radio { display:none; }
hr {
  margin: 0 0 10px;
  border: 0;
  height: 1px;
  background: #8c8b8b;
  background: linear-gradient(to right, #f0f0f0, #8c8b8b, #f0f0f0);
}
/*
    Bootstrap overrides
*/

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    right: 0;
    width: auto;
    border: 1px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }
  .navbar-nav > li > .dropdown-menu {
    border: 1px solid #313131;
    text-align: center;
    margin-top: 1px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 24px;
  }
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: rgba(255,255,255, 0.2);
}
.container { padding: 0;}
.border {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
.panel {
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
  background-color: rgb(255,255,255);
  .panel-body {
    p {
      text-align: justify;
      text-justify: inter-word;
    }
  }
}
.panel-heading {
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid #ddd !important;
}
.btn { font-weight: 700; }
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: inherit;
    text-shadow: 1px 1px 1px #000000;;
}
.navbar-nav > li {
  a {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .dropdown-toggle {
      text-align: right;
      margin-right: 5px;
  }
}
.navbar-nav > li > .dropdown-menu::after{
    content:'';
    display: block;
    height: 13px;
    background:  url('../../assets/top-bar-texture-small-metal.png');
}
.navbar-nav > li > .dropdown-menu {
    background:  url('../../assets/top-bar-texture-small-no-metal.png');
    background-position-y: 28px;
    padding: 0;
}
/*
    Main template styles
*/
#main-content {
  margin-top: 150px;
  .panel { background: rgba(255,255,255,0.8); }
    
}
.navbar {
    height: 65px;
    background: url('../../assets/top-bar-texture-small.png');
    border-radius: 0;
    color: white;
    font-weight: 700;
    border: 0;
    font-size: 24px;
    text-align: center;
    a {
        color: white !important;
        text-shadow: 2px 2px 4px #000000;
    }
    .navbar-brand {
        padding: 10px 0;
        text-align: center;
        display: inline-block;
        margin: 0 auto;
        float: none;
        img {
            height:100%;
        }
    }
    .nav.navbar-nav {
        position: fixed;
        top: 0;
        margin: 0;
        a {
            text-align: left;
        }
        ul.dropdown-menu {
           li a {
               font-size: 18px;
               padding: 0 0 0 15px !important;
               line-height: 35px;
           }
        }
    }
}
#audio-controll {
  display: inline-block;
  float: right;
  padding: 15px 15px;
  line-height: 20px;
}
#audio-controll:hover { cursor: pointer; }
#users-fishes {
  display: inline-block;
  float: right;
  padding: 15px 15px;
  line-height: 20px;
  img {
    margin: 0;
  }
}
$mobile: 500px;

@media screen and (max-width: $mobile){
  #main-content {
      margin-top: 65px;
      .panel {
          margin: 0;
          border: 0;
          -webkit-border-radius:0;
          -moz-border-radius:0;
          border-radius:0;
          .panel-body {
              font-size: 22px;
              padding: 20px;
              height: 1000px;
          }
          .panel-heading {
              border: none;
              font-size: 25px;
          }
      }
  }
}

