<div id="advMap_{{$id}}" class="advMap" ng-style="mapBg">
    <div ng-repeat="pin in pins" id="pin-id-{{pin.PinId}}" class="advMapPin {{pin.cssClasses}}"
         ng-attr-style="top: {{pin.top}}px; left: {{pin.left}}px;" ng-click="pinClick()">
        <div class="pinContainer">
            <img src="{{pin.PinUrl}}" style="height: {{pin.Height}}px;"/>
            <span class="tasksAvailable" ng-show="pin.TasksAvailable"><i class="fa fa-exclamation" aria-hidden="true"></i></span>
        </div>
        <div class="pin-label" ng-show="pin.isEnabled || pin.isClicked">
            <div ng-show="!pin.isClicked">{{pin.Name}}</div>
            <div style="display: inline-block" ng-show="pin.isClicked">
                <i class="fa fa-refresh fa-spin fa-1x fa-fw"></i>
                <span class="sr-only"> Loading...</span>
            </div>
        </div>
    </div>
</div>